БИПиТ5/БИПиТ5/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAllData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllData" nillable="true" type="tns:AllData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllData" nillable="true" type="tns:ArrayOfAllData" />
  <xs:complexType name="AllData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllData" nillable="true" type="tns:AllData" />
</xs:schema>